<!DOCTYPE html>
<html>
<head>
  <title>Manage coreui4</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "manage/coreui4/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
